@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    @if (Navigation.Uri.EndsWith("/") || Navigation.Uri.EndsWith("/cadastrar-propriedade"))
    {
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    }
    else
    {
        <div>
            <NavMenu />
        </div>

        <main class="main-content">
            <article class="content px-4">
                @Body
            </article>

            <footer class="footer px-4">
                <p>&copy; 2025 Desenvolvido por Pedro Macedo P. F. Viana. Todos os direitos reservados.</p>
            </footer>
        </main>
    }
</div>