/* CSS */
.page {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: #faf9f9;
}

html, body {
    height: 100%;
    margin: 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

article.content {
    flex: 1 0 auto; 
    padding: 1rem;
}

.sidebar {
    background-color: #031d44;
}

.top-row, .footer {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.footer {
    
    border-top: 1px solid #d6d5d5;
    border-bottom: none;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    color: gray;
}

    .top-row ::deep a, .top-row ::deep .btn-link, .footer ::deep a {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover, .footer ::deep a:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child, .footer ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }